<launch>
	
	<!--including existing launch file-->
	<!--include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch"/>-->
	<!--include file="$(find turtlebot_navigation)/launch/turtlebot3_navigation.launch map_file:=/home/catkin_ws/src/gryffindor_navigate_to_waypoints/map.yaml-->


	<!--creating python script based nodes-->
	<rosparam command="load" file="$(find gryffindor_navigate_to_waypoints)/waypoints.yaml" />
	<node pkg="gryffindor_navigate_to_waypoints" type="goToWaypoints.py" name="goToWaypoints" output="screen" args="$(arg my_args)"/>
	
    
</launch>
